[alias]
    l = log --pretty=format:'%C(yellow)%h%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
    ld = log --pretty=format:'%C(yellow)%h%Creset %C(yellow)%ad%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
    la = log --all --pretty=format:'%C(yellow)%h%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
    lo = log --oneline'
[commit]
    template = ~/.git-commit-message
[core]
    editor = vim
	pager = /usr/bin/less
[diff]
	colorMoved = zebra
[user]
    name = Ian Beckett
    email = redacted
[pull]
	rebase = false
[fem]
	dev = is global
[init]
	defaultBranch = main
