# built font config files
*.uuid

# shell files
zsh_history
bash_history

# configs 
.config/gnome*
.config/gedit
.config/pulse
.config/JetBrains
.config/evolution
.config/cef_user_data
.config/VSCodium
.config/libreoffice

local/share
