# built font config files
*.uuid

# shell files
zsh_history
bash_history

# configs 
.config/gnome*
.config/gedit
.config/pulse
.config/JetBrains
.config/evolution
.config/cef_user_data
.config/VSCodium
.config/libreoffice
.config/dconf
.config/mimeapps.list
.config/nautilus
.config/vlc
.config/evince
.config/totem
.config/eog
.config/ibus
.config/pavucontrol.ini
.config/yelp
.config/ibus

local/share
~/.local/state
