[alias]
    l = log --pretty=format:'%C(green)%h%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
    ld = log --pretty=format:'%C(green)%h%Creset %C(red)%ad%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
    lg = log --graph --pretty=format:'%C(green)%h%Creset %an:%C(cyan)%d%Creset %s %Cgreen(%cr)'
[core]
    editor = vim
	pager = /usr/bin/less
[diff]
	colorMoved = zebra
[user]
    name = Ian Beckett
    email = redacted
[pull]
	rebase = false
[fem]
	dev = is global
[init]
	defaultBranch = main
